html {
  background: rgba(250,144,112,1);
  background: -moz-linear-gradient(left, rgba(250,144,112,1) 0%, rgba(251,130,111,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,144,112,1)), color-stop(100%, rgba(251,130,111,1)));
  background: -webkit-linear-gradient(left, rgba(250,144,112,1) 0%, rgba(251,130,111,1) 100%);
  background: -o-linear-gradient(left, rgba(250,144,112,1) 0%, rgba(251,130,111,1) 100%);
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  font-weight: 200;
  color: #394858;
}

h1 {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 53px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 37px;
}

h4 {
  font-size: 31px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 21px;
}

a {
  color: #394858;
  text-decoration: underline;
  transition: all .1s ease-in-out;
}

/* Buttons */

.button--primary {
  display: inline-block;
  background: #394A9F;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  transition: all .1s ease-in-out;
  text-align: center;
}

.button--primary:hover {
  background: #192A7D;
  box-shadow: 0 2px 20px rgba(0,0,0, 0.3);
}


/* Nav */

nav {
  border-bottom: 1px solid #e2e2e2;
  background: #ffffff;
  padding: 32px 32px 24px;
  display: flex;
  align-items: center;
}

.logo {
  height: 32px;
  display: inline-block;
  margin-right: 30px;
  fill: #394858;
  transition: all .1s ease-in-out;
}

.logo:hover {
  fill: rgba(250,144,112,1);
  transform: scale(1.2);
}

nav a {
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

nav a + a {
  margin-left: 35px;
}

/* Header */

header {
  background: #ffffff;
  padding: 120px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin-top: 0;
}

.header__content{
  text-align: left;
  max-width: 60%;
}

.header__content .header__bodytext {
  margin-bottom: 40px;
}

/* Testimomnials */

.testimonials {
  padding: 64px 35px;
  text-align: center;
} 

.testimonials__inner {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.testimonials__slide {
  background: #ffffff;
  box-shadow: 0 2px 30px rgba(223, 98, 77, 0.9);
  padding: 48px 96px;
  text-align: center;
  margin: 20px;
}

.testimonials__title {
  color: #ffffff;
  margin-bottom: 0;
}

.testimonials__body {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 40px;
}

.testimonial__image {
  height: 95px;
  width: 95px;
  border-radius: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.testimonial__name {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.testimonial__company {
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
  color: rgba(165, 154, 154, 0.6);
  margin-bottom: 0;
}

.testimonial__arrows {
  text-align: right;
  margin: 0 20px -20px;
}

.arrow--left,
.arrow--right {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: none;
  outline: none;
  color: #ffffff;
  border: none;
}

.arrow--left {
  text-align: right;
  padding-left: 0;
  padding-right: 15px;
}

.arrow--right {
  margin-left: 5px;
  text-align: right;
  padding-right: 0;
  padding-left: 15px;
}


/* Mobile until SASS */

@media only screen and (max-width: 768px) {

  nav {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  header {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .header__content {
    max-width: 80%;
  }

  .testimonials__inner {
    max-width: 100%;
  }

  .testimonials {
    padding: 32px 0px 48px;
  }

  .testimonials__slide {
    padding: 40px 24px;
  } 
}


