/* Header */

header {
  @include grid-container;
  background: #ffffff;
  padding: 120px 32px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .button--primary {
    margin-right: 8px;

    @media only screen and 
    (max-width: $screen-sm) {      
      margin-right: 0;
    }
  }

  .button--primary, 
  .button--secondary {
    @media only screen and 
    (max-width: $screen-xs) {
      display: block;
    }
  }
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 37px;
  }
}

.header__subtitle {
  margin-top: 24px;

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 21px;
  }
}

.header__content {
  @include grid-column(7);
  @include grid-shift(1);
  text-align: left;

  @media only screen and 
  (max-width: $screen-md) {
    @include grid-column(10);
    @include grid-shift(0);
  }

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.header__bodytext {
  margin-bottom: 40px;
}


// =============================================================================
// Header - Grey
// =============================================================================

.header--grey {
  padding-top: 104px;
  padding-bottom: 144px;
  background: $grey-light;

  @media only screen and 
  (max-width: $screen-md) {
    padding-top: 104px;
    padding-bottom: 104px;
  }

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}


