/* Header */

header {
  @include grid-container;
  background: #ffffff;
  padding: 104px 32px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .button--primary {
    margin-right: 16px;

    @media only screen and 
    (max-width: $screen-sm) {      
      margin-right: 0;
    }
  }

  .button {
    @media only screen and 
    (max-width: $screen-sm) {      
      margin-bottom: 8px;
    }

    @media only screen and 
    (max-width: $screen-xs) {
      display: block;
    }
  }
}

.header__title {
  margin-top: 0;

  @media only screen and 
  (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    font-size: 44px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    font-size: 35px;
  }
}

.header__subtitle {
  @media only screen and 
  (max-width: $screen-xs) {
    font-size: 21px;
  }
}

.header__content {
  @include grid-column(8);
  @include grid-shift(2);
  text-align: left;

  @media only screen and 
  (max-width: $screen-md) {
    @include grid-column(10);
    @include grid-shift(1);
  }

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.header__bodytext {
  margin-bottom: 40px;
}