/* Header */

header {
  @include grid-container;
  background: #ffffff;
  padding: 96px 32px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.header__title {
  margin-top: 0;

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 44px;
  }
}

.header__content {
  @include grid-column(8);
  @include grid-shift(2);
  text-align: left;

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.header__bodytext {
  margin-bottom: 40px;
}