body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

footer {
  @include orange-gradient;
  text-align: center;
  padding: 24px;

  .logo {
    height: 30px;
    width: 30px;
    fill: #ffffff;

    &:hover {
      fill: #ffffff;
    }
  }
}

/* Logo */

.logo {
  height: 32px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: -5px;
  fill: $grey;
  transition: all .1s ease-in-out;
}

.logo:hover {
  fill: $orange;
  transform: scale(1.2);
}