.collaborate__header {
  padding-top: 104px;
  padding-bottom: 144px;
  background: $grey-light;

  @media only screen and 
  (max-width: $screen-md) {
    padding-top: 104px;
    padding-bottom: 104px;
  }

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.collaborate-options {
  @include grid-container;
  padding-bottom: 208px;
  margin-top: -48px;

  @media only screen and 
  (max-width: $screen-sm) {
    margin-top: -80px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.collaborate__inner {
  display: flex;
  @include grid-column(10);
  @include grid-shift(1);

  @media only screen and 
  (max-width: $screen-sm) {
    display: block;
    @include grid-column(12);
    @include grid-shift(0);
  }

  .card {    
    @include grid-column(6);
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 30px rgba($grey, 0.1);
    padding: 48px;
    background: #ffffff;
    box-sizing: border-box;
    flex: 1;
    text-align: center;

    @media only screen and 
    (max-width: $screen-sm) {
      @include grid-column(12);
      margin-bottom: 40px;
    }
  }
}

.option__body {
  flex: 1;
}

.option__header {
  font-family: 'Libre Baskerville', sans-serif;
  margin-top: 0;

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 25px;
  }
}

